:root {
  --header-height: 100px;

  --background-color: #ffffff;
  --text-color: #333344;
  --accent-color: #add8e6;
  --content-color: #f5f5f5;
  --menu-color: #c6c6ff;
  --blur-color: #ffffff99;
}

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.app {
  background-color: var(--background-color);
  color: var(--text-color);
}

.header {
  position: fixed;

  width: 100%;
  height: var(--header-height);

  background-color: var(--accent-color);
}

.content {
  display: flex;
  padding-top: var(--header-height);
  min-height: 100vh;
  justify-content: center;
}

.article {
  margin-top: 50px;
  padding: 20px;
  width: 460px;
  min-height: 500px;

  background-color: var(--content-color);
  border-radius: 10px;

  text-align: justify;
  text-justify: auto;
}

.article > p {
  margin-bottom: 10px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 300px;
  height: 100vh;

  color: var(--text-color);
  background-color: var(--menu-color);
}

.hidden {
  display: none;
}

.menu-back {
  position: fixed;
  top: 0;
  left: 300px;
  z-index: 9;

  width: 100vw;
  height: 100vh;

  background-color: var(--blur-color);
  backdrop-filter: blur(2px);
  cursor: pointer;
}

.dark {
  color-scheme: dark;
  --background-color: #232323;
  --text-color: #f5f5f5;
  --accent-color: #0f475a;
  --content-color: #606060;
  --menu-color: #311874;
  --blur-color: #00000099;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --background-color: #232323;
    --text-color: #f5f5f5;
    --accent-color: #0f475a;
    --content-color: #606060;
    --menu-color: #311874;
    --blur-color: #00000099;
  }
}
